
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalMenu.cshtml";
}

    <div class="col-sm-12 col-xl-12">
        <div class="page-header card">
            <div class="card-block">
                <h5 class="m-b-10">Familias</h5>
                <p class="text-muted m-b-10"></p>
                <ul class="breadcrumb-title b-t-default p-t-10">
                    <li class="breadcrumb-item">
                        <a href="/Inicio"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Seguimiento de Actividades</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Familias</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="col-sm-12 col-xl-12">
        <div class="card border-primary">
            <div class="card-block text-dark">
                <div class="table-responsive">
                    <table id="dtSeguimiento" class="table table-bordered table-hover" width="100%"></table>
                </div>
            </div>
        </div>
    </div>
@Html.Hidden("hdnCUI")
@Html.Hidden("hdnIdSeguimientoActividades")
@Html.Hidden("hdnIdDetalleSeguimientoActividadesFamilias")
<div class="modal fade" id="modal-seguimiento" role="dialog">
    <div class="modal-dialog modal-sm" role="document" style="height:900px; overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-edit"></i>&nbsp;<span id="lblProyecto"></span>
                </h5>

                <button type="button" class="close" onclick="CerrarSeguimiento()" aria-label="Close">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body" >
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Datos de Seguimiento</legend>
                    <div class="row m-b-20">
                        <div class="col-lg-6 col-sm-12">
                            <h4 class="sub-title">Población</h4>
                            <div class="row">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Nro. de <br />Mujeres</label>
                                        @Html.TextBox("txtNroPoblacionMujeres", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Nro. de <br />Hombres</label>
                                        @Html.TextBox("txtNroPoblacionHombres", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Total de <br />Población</label>
                                        @Html.TextBox("txtTotalPoblacion", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <h4 class="sub-title">Usuarios</h4>
                            <div class="row">
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label>Nro. de <br />Mujeres</label>
                                        @Html.TextBox("txtNroUsuariosMujeres", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label>Nro. de Hombres</label>
                                        @Html.TextBox("txtNroUsuariosHombres", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label>Total de Usuarios</label>
                                        @Html.TextBox("txtTotalUsuarios", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label>Población Flotante</label>
                                        @Html.TextBox("txtPoblacionFlotante", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <h4 class="sub-title">Vivienda e Instituciones</h4>
                            <div class="row">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Total de Viviendas Validadas</label>
                                        @Html.TextBox("txtTotalViviendasValidadas", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Total de Instituciones Validadas</label>
                                        @Html.TextBox("txtTotalInstitucionesValidadas", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Total de Instituciones + Viviendas</label>
                                        @Html.TextBox("txtTotalInstitucionesViviendas", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <h4 class="sub-title">Centros Educativos y de Salud</h4>
                            <div class="row">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Nro. de Centros Educativos</label>
                                        @Html.TextBox("txtNroCentrosEducativos", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Nivel de Centros Educativos</label>
                                        @Html.TextBox("txtNivelCentrosEducativos", null, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <label>Centros de <br />Salud</label>
                                        @Html.TextBox("txtCentrosSalud", null, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Seguimiento de Actividades</legend>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Etapa</label>
                                <select name="ddlEtapa" id="ddlEtapa" class="form-control">
                                    <option value="">[--Seleccione--]</option>
                                    <option value="Ejecución">Ejecución</option>
                                    <option value="OTA">OTA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label>Mes</label>
                                <select name="ddlMes" id="ddlMes" class="form-control">
                                    <option value="0">[--Seleccione--]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>Actividad</label>
                                <select name="ddlActividad" id="ddlActividad" class="form-control">
                                    <option value="0">[--Seleccione--]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>Fecha</label>
                                @Html.TextBox("txtFecha", null, new { @class = "form-control date-pick" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label>Nro. Hombres</label>
                                @Html.TextBox("txtNroHombres", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label>Nro. Mujeres</label>
                                @Html.TextBox("txtNroMujeres", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label>Total</label>
                                @Html.TextBox("txtTotal", null, new { @class = "form-control", @onkeypress = "return soloNumeros(event);", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label>Porcentaje Asistencia</label>
                                @Html.TextBox("txtPorcentajeAsistencia", null, new { @class = "form-control", @onkeypress = "return soloDecimales(event, this);" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 d-none">
                            <div class="form-group">
                                @Html.TextBox("txtFiles", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div style="font-size: 16px;" class="alert alert-danger border-danger">
                                <p style="font-size: 16px;">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Notas Importantes
                                    <ul>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;El tamaño maximo de cada archivo es 50 MB.</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Espere a que el archivo se termine de subir antes de dar click en "Guardar"</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Se recomienda subir archivos comprimidos, para evitar la demora en la subida</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <div id="myDropzone" class="dropzone">
                                    <div class="dz-message">
                                        Arrastra y suelta los archivos aquí o haz clic para seleccionarlos.<br /><i class="fa fa-cloud-upload f-30 m-t-5" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button id="btnGuardar" type="button" class="btn btn-primary waves-effect" onclick="GuardarSeguimiento()"><i class="fa fa-save" aria-hidden="true"></i>Guardar</button>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Historial de Seguimiento de Actividades</legend>
                    <div class="col-lg-12 col-sm-12">
                        <div class="table-responsive">
                            <table id="dtHistorialSeguimiento" class="table table-bordered table-hover" width="100%"></table>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger waves-effect " onclick="CerrarSeguimiento()"><i class="fa fa-times" aria-hidden="true"></i>Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section _ScriptCode {
    <script src="~/Content/js/jsFamilias.js"></script>
}

